--extra-index-url https://download.pytorch.org/whl/cu121
cityscapesScripts==2.2.3
matplotlib==3.10.0
numpy==1.26.3
opencv_python==4.10.0.82
Pillow==11.1.0
pycocotools==2.0.7
scikit_learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
setuptools==70.0.0
termcolor==2.5.0
torch==2.2.0+cu121
torchvision==0.17.0+cu121
tqdm==4.66.4
yacs==0.1.8
