matplotlib>=3.5.1
nose
scikit-learn
scikit-image
opencv-python
cython
numpy>=1.20.0 #update due to new numpy.typing
scipy
Pillow>=9.0.1

torchsummary
torchstat
thop

tensorboard>=2.8.0
tqdm
future
timm

path
natsort
ipdb

# einops stands for Einstein-Inspired Notation for operations
einops

# for logging
loguru>=0.6.0

ninja
yacs
h5py
termcolor
# for maskrcnn_benchmark
pycocotools
cityscapesScripts

